[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-rest-passwordreset = "*"
django-filter = "*"
requests = "*"
python-decouple = "*"
django-allauth = "*"
cryptography = "*"
dj-rest-auth = "*"
psycopg2-binary = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
